<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<h1>Historico</h1>

<div class="row">
  <div class="col-sm-6">
     <strong>Temperaturas:</strong>
         <%=line_chart @registo.where(:id=> 1).group("month(data)").group("day(data)").average(:temperatura)%>
  </div>
	
	<div class="col-sm-6">
     <strong>Humidade:</strong>
         <%=line_chart @registo.where(:id=> 1).group("month(data)").group("day(data)").average(:humidade)%>
  </div>
 </div>
<div class="row">
  <div class="col-sm-6">
     <strong>Ruído:</strong>
         <%=line_chart @registo.where(:id=> 1).group("month(data)").group("day(data)").average(:ruido)%>
  </div>
 </div>