<div class="center">
  <h1>Welcome to SIDBBA</h1>

  <%= link_to 'Signup', '/users/sign_up', class: "btn btn-lg btn-primary" %>
  <div>
  
  <p id="intro"> Eu sou o SIDBBA E SOU FIXE.
  VITORIA SEMPRE 1922 QNVNNNVMKJASHDLKAJSHDLKAJ
  ALKSDLKANS LKNASLDKNASKLDN LAKSNDA M,ANSDM,A KJASDMN AS,M NKJASND,M NA JHKAJSDNKJASND N
  </p>
</div>
</div>