<div class="center">
  <h1>Welcome to SIDBBA</h1>

  <%= link_to 'Signup', '/users/sign_up', class: "btn btn-lg btn-primary" %>
  <div>
  
  <p id="intro">SIDBBA (Smart and Interactive Displays for Beach and Bathing Areas) é um sistema que tem como objetivo estabelecer uma rede de sensores em zonas balneares de forma a fornecer informação relevante para potenciais banhistas de uma determinada zona balnear. 
O sistema é composto por um conjunto de dispositivos com diferentes capacidades sensoriais que podem ser colocados em locais específicos para que se possa obter as leituras de pressão atmosférica, humidade, luminosidade e temperatura.
Através desta aplicação Web é possível visualizar não só a localização de cada sensor e o seu histórico de valores, bem como, a definição de alertas para valores específicos. Isto só é possível depois de realizar o seu registo.
  </p>
</div>
</div>